@font-face {
  font-family: "Raleway", sans-serif;
  src: url("font/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0a222c;
  width: 100%;
  height: 130px;
}

.logo {
  width: 200px;
  height: 200px;
  padding-bottom: 70px;
  padding-left: 30px;
}

.main-section {
  background-color: #071820;
  background-size: cover;
}
h1 {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "raleway", sans-serif;
}

.footer {
  background-color: #0a222c;
  width: 100%;
  height: 130px;
}
.footer_IMG {
  width: 100px;
  height: 100px;
  padding-top: 40px;
  padding-left: 20px;
}
.p_tag {
  color: white;
  font-family: "raleway", sans-serif;
  display: flex;
  justify-content: center;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.img_size {
  width: 350px;
  height: 250px;
  object-fit: cover;
}
#img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  gap: 10px;
  padding-bottom: 41px;
}

button img {
  display: block;
}

dialog {
  margin: auto;
}
dialog::backdrop {
  background-color: #0a222ce7;
}
.dialogIMG {
  width: 850px;
  height: 850px;
  max-width: 800px;
  max-height: 800px;
  display: block;
  object-fit: cover;
}
.closeButtonDialog {
  display: flex;
  justify-content: end;
  background-color: #0a222c;
}
.button_size {
  display: flex;
  justify-content: space-around;
  background-color: #0a222c;
}

.page_Number {
  font-size: 34px;
  color: white;
}

@media (max-width: 360px) {
  .img_size {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 570px) {
  .dialogIMG {
    width: 400px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
  }
}

@media (max-width: 370px) {
  .dialogIMG {
    width: 300px;
    height: 250;
    max-width: 200px;
    max-height: 200px;
  }
}

button {
  cursor: pointer;
}
