@font-face {
  font-family: "Raleway", sans-serif;
  src: url("font/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0a222c;
  width: 100%;
  height: 130px;
}

.logo {
  width: 200px;
  height: 200px;
  padding-bottom: 70px;
  padding-left: 30px;
}

.main-section {
  background-color: #071820;
  background-size: cover;
  height: 706px;
}
h1 {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: "raleway", sans-serif;
}

.footer {
  background-color: #0a222c;
  width: 100%;
  height: 130px;
}
.footer_IMG {
  width: 100px;
  height: 100px;
  padding-top: 40px;
  padding-left: 20px;
}
.p_tag {
  color: white;
  font-family: "raleway", sans-serif;
  display: flex;
  justify-content: center;
  font-family: "raleway", sans-serif;
}

.img-container {
  display: flex;
  gap: 16px;
  padding: 24px;
}

.img-container img {
  width: 100%;
  margin-top: 100px;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.modal {
  background-color: rgb(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.no-display {
  display: none;
}
